* {
  font-family: "Poppins", sans-serif;
}
body {
  padding: 0;
  margin: 0;
  color: black;
  font-family: "Poppins", sans-serif;
}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  width: 0;
  clear: both;
}
.admin-panel {
  width: 990px;
  margin: 50px auto;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}
/*slidebar侧边栏*/
.slidebar {
  width: 20%;
  min-height: 690px;
  float: left;
  border-right: 1px solid rgb(235,235,235);
  background-color: rgb(247,247,247);
}
.slidebar .logo {
  height: 145px;
  border-bottom: 1px solid rgb(235,235,235);
}
.slidebar ul {
  padding: 0;
  margin:0;
}
.slidebar li {
  list-style-type: none;
  margin: 0;
  position: relative;
}

.slidebar ul a {
  color: rgb(140,140,140);
  text-decoration: none;
  font:16px/40px "Poppins", sans-serif;
  box-sizing:border-box;
  border-bottom: 1px solid rgb(235,235,235);
  display: block;
  box-shadow:inset 0 1px 0 rgb(255,255,255);
  text-indent: 20px;
  text-transform: capitalize;
}
.slidebar li:hover a {
  background-color: rgb(255,255,255);
  box-shadow: 1px 0 0 rgb(255,255,255),inset 5px 0 0 -1px rgb(234,83,63);
}
/*main*/
.main {
  float: left;
  width: 79%;
  height: 690px;
  background-color: rgb(255,255,255);
  position: relative;
}
.main .topbar {
  border-bottom: 1px solid rgb(235,235,235);
  margin: 0;
  padding: 0;
}
/*mainContent*/
.mainContent h4 {
  line-height: 1;
  font-size: 18px;
  margin: 1.3em 0 1em;
  margin-left: 17px;
}

.mainContent>div {
  position: absolute;
  opacity: 0;
  display: none;
  -webkit-transition:opacity 200ms linear;
  -moz-transition:opacity 200ms linear;
  -ms-transition:opacity 200ms linear;
  transition:opacity 200ms linear;
}
/*通过opacity来切换不同的选项卡*/
.mainContent>div:target {
  opacity: 1;
  display: block;
}
.mainContent h2 {
  margin:1em 0;
  color: #679b9b;
  font-size: 23px;
  font-weight: 400;
}
.mainContent h2:before {
  content: attr(data-icon);
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-right: 10px;
  -webkit-font-smoothing: antialiased;
}
#dashboard , #file ,#fileDelete,#fileUpload{
  width: 98%;
  margin-left: 2%;
}
.monitor ul {
  float: left;
  padding: 0;
  margin: 0 31px 0 17px;
}
.monitor li {
  list-style:none;
  font: 600 14px/28px "Poppins", sans-serif;
  color: rgb(102,102,102);
  text-transform: capitalize;
}
.monitor li a {
  color: rgb(102,102,102);
  text-transform: capitalize;
  text-decoration: none;
}
.monitor li:first-child {
  border-bottom: 1px dotted rgb(153,153,153);
}
.discussions .comments {color: rgb(27,106,173);}
.discussions .approved {color: rgb(105,174,48);}
.discussions .pending {color: rgb(246,129,15);}
.discussions .spam {color: rgb(243,47,47);}
.monitor .count {
  color: rgb(27,106,173);
  text-align: right;
  font-weight: 600;
  margin-right: 15px;
  min-width: 25px;
  display: inline-block;
}
.monitor p {
  color: rgb(128,128,128);
  margin: 28px 0 18px 17px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}
.monitor p a {
  text-decoration: none;
  color:rgb(27,106,173);
}
.quick-press form {
  margin:0 20px 0 13px;
}
.quick-press input[type="text"] {
  display: block;
  width: 100%;
  box-sizing:border-box;
  height: 35px;
  line-height: 15px;
  padding: 10px 0;
  margin:0 0 7px 0;
  background-color: rgb(246,246,246);
  outline: none;
  border: none;
  text-indent: 10px;
}
/*统一各浏览器下placeholder内的字体样式*/
.quick-press input[type="text"]::-webkit-input-placeholder {font-size: 14px;}
.quick-press input[type="text"]:-ms-input-placeholder {font-size: 14px;}

.quick-press button {
  margin-top: 13px;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  padding: 0;
}
.quick-press .save, .quick-press .delet {
  width: 37px;
  border: 1px solid rgb(229,229,229);
  color: rgb(102,102,102);
  float: left;
  margin-right: 5px;
}
.quick-press .save:hover, .quick-press .delet:hover {
}
.quick-press .save:active, .quick-press .delet:active {
}
.quick-press .submit {
  float: right;
  width: 70px;
  border: 1px solid rgb(238,85,64);
  color: #fff;
  font-size: 16px;
}
.quick-press .submit:hover {
}
/*logo*/
.logo img {
  width: 88px;
  height: 88px;
  display: inline-block;
  position: relative;
  left: 50%;
  top: 50%;
  margin: -45px 0 0 -45px;
  border: 1px solid rgb(200,200,200);
  border-radius: 50%;
  background-color: rgb(214,214,214);
}
//TopBar

.main .topbar {
  border-bottom: 1px solid rgb(235,235,235);
  margin: 0;
  padding: 0;
}
/*topbar顶部按钮栏*/
.topbar li {
  float: right;
  list-style: none;
}
.topbar a {
  line-height: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: rgb(102,102,102);
  border-left: 1px solid rgb(235,235,235);
}
.topbar a:hover {
  background-color: rgb(247,247,247);
}
.topbar li:first-child a {
  border: none;
  border-right: 1px solid rgb(235,235,235);
}

// card
.card {
  border-radius: 8px;
  color: white;
  font-size: 15px;
  padding: 10px;
  position: relative;

  .zmdi {
    color: white;
    font-size: 28px;
    opacity: 0.3;
    position: absolute;
    right: 13px;
    top: 13px;
  }

  .stat {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 8px;
    margin-top: 25px;
    padding: 10px 10px 0;
    text-transform: uppercase;
  }

  .title {
    display: inline-block;
    text-align: center;
    font-size: 10px;
    padding: 5px 5px 0;
    text-transform: uppercase;
  }

  .value {
    font-size: 28px;
    text-align: center;
    padding: 0 10px;
  }

  &.blue {
    background-color: #2298F1;
  }

  &.green {
    background-color: #66B92E;
  }

  &.orange {
    background-color: #DA932C;
  }

  &.red {
    background-color: #D65B4A;
  }
}

// Upload File
.card-upload {
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  width: 250px;
  height: 150px;
  background-color: #ffffff;
  padding: 10px 30px 40px;
}

.card-upload h3 {
  font-size: 13px;
  font-weight: 500;
}

.drop_box-upload {
  display: flex;
  height: 100px;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  border: 3px dotted #a3a3a3;
  border-radius: 5px;
}

.drop_box-upload h4 {
  font-size: 11px;
  font-weight: 400;
  color: #2e2e2e;
  margin-left: 0;
}

.drop_box-upload p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 8px;
  margin-left: 0;
  color: #a3a3a3;
}

.btn-upload {
  text-decoration: none;
  background-color: #005af0;
  color: #ffffff;
  width: 50%;
  height: 70px;
  border: none;
  outline: none;
  transition: 0.3s;
  margin-left: 25%;
  font-size: 12px;
  margin-bottom: 10px;
}

.btn-upload:hover{
  text-decoration: none;
  background-color: #ffffff;
  color: #005af0;
  border: none;
  outline: 1px solid #010101;
}
.card-filetype {
  font-size: 13px;
  font-weight: 400;
  color: black;
  margin-top: 20px;
  margin-bottom: 5px;
}
.template-text {
  width: 100px;
  margin-left: 5px;
  height: 30px;
}
.card-upload2 {
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  width: 250px;
  height: 150px;
  background-color: #ffffff;
}
.card-upload2 p {
  margin: 0;
  font-size: 12px;
}
.file-select {
  width: 100px;
  margin-left: 5px;
}
.container-upload {
  width: auto;
}
.date-class {
  width: 100px;
  height: 30px;
  float: right;
}
.action-button {
  width: 100px;
  height: 50px;
  background: #ff9a76;
  font-weight: bold;
  color: #fff;
  transition: 150ms;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}
.action-button:hover,
.action-button:focus {
  color: #fff;
}
.submit {
  background: #679b9b !important;
  transition: .5s ease;
}
.submit:hover {
  background: white !important;
  color: #679b9b;
  border: 1px solid #e6e6e6;
}
.file-i {
  color:green !important;
  background-color: green;
  font-size: 14px !important;
}
.template-back {
  background: rgba(0,0,0,0.7);
  position: absolute;
  width: 100%;
  height: 130%;
  top: 0;
}
//Loading Css

.loading02 {
  z-index: 99;
  span {
    color: white;
    animation: loading02 1.2s infinite alternate;
    @for $i from 1 through 10 {
      &:nth-child(#{$i+1}) {
        animation-delay: #{$i*.2}s;
      }
    }
  }
}
.loading {
  font-size: 30px;
  position: relative;
}
@keyframes loading02 {
  0% {
    filter: blur(0);
    opacity: 1;
  }
  50% {
    filter: blur(1px);
    opacity: 0.4;
  }
  75% {
    filter: blur(2px);
    opacity: 0.6;
  }
  100% {
    filter: blur(3px);
    opacity: 0.8;
  }
}

//Table Delete

.delete-table {
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  border-collapse: collapse;
  table-layout: fixed;
}
.delete-table th ,td {
  border: 1px solid;
  padding: 0.5em;
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}
.delete-table thead,
.delete-table tfoot,
.delete-table tbody,
.delete-table th,
.delete-table td
{
  display: block;
  width: 100%;
}
.delete-table thead,
.delete-table tfoot,
.delete-table tbody
{
  overflow-y: scroll;
}
.delete-table thead,
.delete-table tfoot
{
  -ms-overflow-style: none;
}
.delete-table thead::-webkit-scrollbar,
.delete-table tfoot::-webkit-scrollbar
{
  visibility: hidden;
}
.delete-table tbody
{
  max-height: 20em;
  position: relative;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.delete-table tr
{
  display: flex;
}

.delete-table tbody th,
.delete-table tbody td
{
  border-top: none;
  text-overflow: ellipsis;
  overflow: hidden;
}

.delete-table th:not(:last-child),
.delete-table td:not(:last-child)
{
  border-right: none;
}
.delete {
  transition: .5s ease;
  border-radius: 10px;
  background-color: #da4453;
}
.delete:hover {
  border: 1px solid #e6e6e6;
  background-color: white;
  color: #da4453;
}
.update {
  transition: .5s ease;
  border-radius: 10px;
  background-color: mediumblue;
  width: 70px;
  height: 40px;
  font-size: 9px;
}
.update:hover {
  border: 1px solid #e6e6e6;
  background-color: white;
  color: mediumblue;
}
.update-table tbody{
  max-height: 37em;
}
.modal-body-input {
  width: 80%;
  margin-left: 5%;
  margin-bottom: 10px;
}

