* {
  font-family: "Poppins", sans-serif;
}
body {
  padding: 0;
  margin: 0;
  color: black;
  font-family: "Poppins", sans-serif;
}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  width: 0;
  clear: both;
}
.admin-panel {
  width: 990px;
  margin: 50px auto;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}
/*slidebar侧边栏*/
.slidebar {
  width: 20%;
  min-height: 690px;
  float: left;
  border-right: 1px solid rgb(235,235,235);
  background-color: rgb(247,247,247);
}
.slidebar .logo {
  height: 145px;
  border-bottom: 1px solid rgb(235,235,235);
}
.slidebar ul {
  padding: 0;
  margin:0;
}
.slidebar li {
  list-style-type: none;
  margin: 0;
  position: relative;
}

.slidebar ul a {
  color: rgb(140,140,140);
  text-decoration: none;
  font:16px/40px "Poppins", sans-serif;
  box-sizing:border-box;
  border-bottom: 1px solid rgb(235,235,235);
  display: block;
  box-shadow:inset 0 1px 0 rgb(255,255,255);
  text-indent: 20px;
  text-transform: capitalize;
}
.slidebar li:hover a {
  background-color: rgb(255,255,255);
  box-shadow: 1px 0 0 rgb(255,255,255),inset 5px 0 0 -1px rgb(234,83,63);
}
/*main*/
.main {
  float: left;
  width: 79%;
  height: 690px;
  background-color: rgb(255,255,255);
  position: relative;
}
.main .topbar {
  border-bottom: 1px solid rgb(235,235,235);
  margin: 0;
  padding: 0;
}
/*mainContent*/
.mainContent h4 {
  line-height: 1;
  font-size: 18px;
  margin: 1.3em 0 1em;
  margin-left: 17px;
}

.mainContent>div {
  position: absolute;
  opacity: 0;
  -webkit-transition:opacity 200ms linear;
  -moz-transition:opacity 200ms linear;
  -ms-transition:opacity 200ms linear;
  transition:opacity 200ms linear;
}
/*通过opacity来切换不同的选项卡*/
.mainContent>div:target {
  opacity: 1;
}
.mainContent h2 {
  margin:1em 0;
  color: #679b9b;
  font-size: 23px;
  font-weight: 400;
}
.mainContent h2:before {
  content: attr(data-icon);
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-right: 10px;
  -webkit-font-smoothing: antialiased;
}
#dashboard , #file ,#fileDelete,#fileUpload{
  width: 98%;
  margin-left: 2%;
}
.monitor ul {
  float: left;
  padding: 0;
  margin: 0 31px 0 17px;
}
.monitor li {
  list-style:none;
  font: 600 14px/28px "Poppins", sans-serif;
  color: rgb(102,102,102);
  text-transform: capitalize;
}
.monitor li a {
  color: rgb(102,102,102);
  text-transform: capitalize;
  text-decoration: none;
}
.monitor li:first-child {
  border-bottom: 1px dotted rgb(153,153,153);
}
.discussions .comments {color: rgb(27,106,173);}
.discussions .approved {color: rgb(105,174,48);}
.discussions .pending {color: rgb(246,129,15);}
.discussions .spam {color: rgb(243,47,47);}
.monitor .count {
  color: rgb(27,106,173);
  text-align: right;
  font-weight: 600;
  margin-right: 15px;
  min-width: 25px;
  display: inline-block;
}
.monitor p {
  color: rgb(128,128,128);
  margin: 28px 0 18px 17px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}
.monitor p a {
  text-decoration: none;
  color:rgb(27,106,173);
}
.quick-press form {
  margin:0 20px 0 13px;
}
.quick-press input[type="text"] {
  display: block;
  width: 100%;
  box-sizing:border-box;
  height: 35px;
  line-height: 15px;
  padding: 10px 0;
  margin:0 0 7px 0;
  background-color: rgb(246,246,246);
  outline: none;
  border: none;
  text-indent: 10px;
}
/*统一各浏览器下placeholder内的字体样式*/
.quick-press input[type="text"]::-webkit-input-placeholder {font-size: 14px;}
.quick-press input[type="text"]:-ms-input-placeholder {font-size: 14px;}

.quick-press button {
  margin-top: 13px;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  padding: 0;
}
.quick-press .save, .quick-press .delet {
  width: 37px;
  border: 1px solid rgb(229,229,229);
  color: rgb(102,102,102);
  float: left;
  margin-right: 5px;
}
.quick-press .save:hover, .quick-press .delet:hover {
}
.quick-press .save:active, .quick-press .delet:active {
}
.quick-press .submit {
  float: right;
  width: 70px;
  border: 1px solid rgb(238,85,64);
  color: #fff;
  font-size: 16px;
}
.quick-press .submit:hover {
}
/*logo*/
.logo img {
  width: 88px;
  height: 88px;
  display: inline-block;
  position: relative;
  left: 50%;
  top: 50%;
  margin: -45px 0 0 -45px;
  border: 1px solid rgb(200,200,200);
  border-radius: 50%;
  background-color: rgb(214,214,214);
}
/*statusbar底部功能按钮*/
.statusbar {
  position: absolute;
  bottom: 0;
  border-top: 1px solid rgb(235,235,235);
  width: 100%;
  padding: 0;
  margin: 0;
}
.statusbar li {
  list-style: none;
}
.statusbar a {
  color: rgb(102,102,102);
  text-decoration: none;
  text-align: left;
}
.statusbar a:hover {
  background-color: rgb(247,247,247);
}
.statusbar .profiles-setting, .statusbar .logout {
  float: right;
  border-left: 1px solid rgb(235,235,235);
}
.statusbar .profiles-setting a, .statusbar .logout a {
  line-height: 50px;
}
//TopBar

.main .topbar {
  border-bottom: 1px solid rgb(235,235,235);
  margin: 0;
  padding: 0;
}
/*topbar顶部按钮栏*/
.topbar li {
  float: right;
  list-style: none;
}
.topbar a {
  line-height: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: rgb(102,102,102);
  border-left: 1px solid rgb(235,235,235);
}
.topbar a:hover {
  background-color: rgb(247,247,247);
}
.topbar li:first-child a {
  border: none;
  border-right: 1px solid rgb(235,235,235);
}

// card
.card {
  border-radius: 8px;
  color: white;
  font-size: 13px;
  padding: 10px;
  position: relative;

  .zmdi {
    color: white;
    font-size: 28px;
    opacity: 0.3;
    position: absolute;
    right: 13px;
    top: 13px;
  }

  .stat {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 8px;
    margin-top: 25px;
    padding: 10px 10px 0;
    text-transform: uppercase;
  }

  .title {
    display: inline-block;
    font-size: 8px;
    padding: 10px 10px 0;
    text-transform: uppercase;
  }

  .value {
    font-size: 28px;
    padding: 0 10px;
  }

  &.blue {
    background-color: #2298F1;
  }

  &.green {
    background-color: #66B92E;
  }

  &.orange {
    background-color: #DA932C;
  }

  &.red {
    background-color: #D65B4A;
  }
}

