<div class="container">
  <div class="admin-panel clearfix">
    <div class="slidebar">
      <div class="logo">
        <img src="../../../assets/bill.jpg" width="100">
      </div>
      <ul>
        <li><a href="upload/#dashboard" id="targeted">Gösterge Paneli</a></li>
        <li><a href="upload/#file">Şablon Yükle</a></li>
        <li><a href="upload/#fileDelete">Şablon Sil</a></li>
        <li><a href="upload/#fileUpload">Şablon Güncelle</a></li>
      </ul>
    </div>
    <div class="main">
      <ul class="topbar clearfix">
        <li><a href="#">Çıkış Yap</a></li>
      </ul>
      <div class="mainContent clearfix">
        <div id="dashboard">
          <h2>Gösterge Ekranı</h2>
          <div class="monitor">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                <div class="card blue">
                  <div class="title">Tüm Şablonlar</div>
                  <i class="zmdi zmdi-upload"></i>
                  <div class="value">{{templateInfo.allTemplateNumber}}</div>
                  <div class="stat"><b>100</b>% Tüm Şablonlara Oranı</div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                <div class="card green">
                  <div class="title">Makbuz Şablonları</div>
                  <i class="zmdi zmdi-upload"></i>
                  <div class="value">{{templateInfo.allReceiptNumber}}</div>
                  <div class="stat"><b>{{templateAllRate(templateInfo.allReceiptNumber)}}</b>% Tüm Şablonlara Oranı</div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                <div class="card orange">
                  <div class="title">Fatura Şablonları</div>
                  <i class="zmdi zmdi-download"></i>
                  <div class="value">{{templateInfo.allInvoiceNumber}}</div>
                  <div class="stat"><b>{{templateAllRate(templateInfo.allInvoiceNumber)}}</b>% Tüm Şablonlara Oranı</div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                <div class="card red">
                  <div class="title">Süresi Dolmuş Şablonlar</div>
                  <i class="zmdi zmdi-download"></i>
                  <div class="value">{{templateInfo.allExpiredTemplateNumber}}</div>
                  <div class="stat"><b>{{templateAllRate(templateInfo.allExpiredTemplateNumber)}}</b>% Tüm Şablonlara Oranı</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="file">
          <h2 class="header">Şablon Yükleme Ekranı</h2>
          <div class="content-file d-flex flex-column justify-content-center align-items-center">
            <div class="row">
              <div class="container-upload">
                <div class="card-upload">
                  <h3>HTML Dosyası Yükle</h3>
                  <div class="drop_box-upload" id="html_dropbox">
                    <header>
                      <h4>Dosya Seçiniz</h4>
                    </header>
                    <p>Desteklenen Dosyalar : HTML</p>
                    <input type="file" hidden accept=".html" id="htmlFileID" style="display: none;">
                    <button class="btn-upload" (click)="onClickfileHtml()">Dosya Seç</button>
                  </div>

                </div>
              </div>
              <div class="container-upload">
                <div class="card-upload">
                  <h3>CSS Dosyası Yükle</h3>
                  <div class="drop_box-upload" id="css_dropbox">
                    <header>
                      <h4>Dosya Seçiniz</h4>
                    </header>
                    <p>Desteklenen Dosyalar : CSS</p>
                    <input type="file" hidden accept=".css" id="cssFileId" style="display: none;">
                    <button class="btn-upload" (click)="onClickfileCss()">Dosya Seç</button>
                  </div>

                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="container-upload">
                <div class="card-upload2 d-flex flex-column justify-content-center">
                  <div class="d-flex justify-content-between mb-3 pl-2 pr-2 align-items-center">
                    <p class="card-filetype">Dosya Tipi:</p>
                    <select id="fileType" name="fileType" class="file-select">
                      <option value="invoice">Invoice</option>
                      <option value="receipt">Receipt</option>
                    </select>
                  </div>
                  <div class="d-flex justify-content-between mt-3 pl-2 pr-2 align-items-center">
                    <p class="card-filetype d-flex">Şablon İsmi:</p>
                    <input type="text" id="templateName" name="templateName" class="template-text"/>
                  </div>
                </div>
              </div>
              <div class="container-upload">
                <div class="card-upload2 d-flex flex-column justify-content-center">
                  <p style="position: absolute;margin:0 0 120px 20px;">(Örnek Model: 08-05-2024 01:00:00) </p>
                  <div class="d-flex justify-content-between mb-3 pl-2 pr-2 align-items-center">
                    <p class="card-filetype">Başlangıç Tarihi:</p>
                    <input type="text" id="startDate" name="startDate" class="date-class"/>
                  </div>
                  <div class="d-flex justify-content-between mt-3 pl-2 pr-2 align-items-center">
                    <p class="card-filetype d-flex float-left">Bitiş Tarihi:</p>
                    <input type="text" id="endDate" name="endDate" class="date-class"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <input type="submit" name="submit" class="submit action-button" value="Kaydet" (click)="onSubmit()"/>
            </div>
          </div>
          <div class="d-flex flex-column justify-content-center align-items-center template-back" *ngIf="!complete">

            <div class="spinner-border text-white" role="status" style="width: 100px;height: 100px">
            </div>
            <div class="loading loading02" style="top: 20px">
              <span>Y</span>
              <span>Ü</span>
              <span>K</span>
              <span>L</span>
              <span>E</span>
              <span>N</span>
              <span>İ</span>
              <span>Y</span>
              <span>O</span>
              <span>R...</span>
            </div>
          </div>
        </div>
        <div id="fileDelete">
          <h2 class="header">Şablon Silme Ekranı</h2>
          <div>
            <table class="delete-table">
              <thead>
              <tr>
                <td>Id</td>
                <td>Template Name</td>
                <td>Template ShortId</td>
                <td>Template Type</td>
                <td>Start Date</td>
                <td>End Date</td>
                <td>Is Active</td>
              </tr>
              </thead>
              <tbody id="tbody-delete">
              <tr *ngFor="let template of templateTable[0]">
                <td>{{template.id}}</td>
                <td>{{template.templateName}}</td>
                <td>{{template.templateShortId}}</td>
                <td>{{template.templateType}}</td>
                <td>{{template.effectiveStartDate}}</td>
                <td>{{template.effectiveEndDate}}</td>
                <td>{{template.isActive}}</td>
              </tr>
              </tbody>
            </table>
            <div class="mt-3 d-flex justify-content-center mr-1 align-items-center">
            <span>Id : <input type="text" id="templateId" placeholder="Template Id" /></span>
              <input type="submit" name="submit" class="delete action-button" value="Sil" (click)="onDelete()"/>
            </div>
          </div>
        </div>
        <div id="fileUpload">
          <h2 class="header">Şablon Güncelleme Ekranı</h2>
        </div>
      </div>
    </div>
  </div>
</div>
