<div class="container">
  <div class="admin-panel clearfix">
    <div class="slidebar">
      <div class="logo">
        <img src="../../../assets/bill.jpg" width="100">
      </div>
      <ul>
        <li><a href="upload/#dashboard" id="targeted">Gösterge Paneli</a></li>
        <li><a href="upload/#file">Şablon Yükle</a></li>
        <li><a href="upload/#fileDelete">Şablon Sil</a></li>
        <li><a href="upload/#fileUpload">Şablon Güncelle</a></li>
      </ul>
    </div>
    <div class="main">
      <ul class="topbar clearfix">
        <li><a href="#">Çıkış Yap</a></li>
      </ul>
      <div class="mainContent clearfix">
        <div id="dashboard">
          <h2>Gösterge Ekranı</h2>
          <div class="monitor">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                <div class="card blue">
                  <div class="title">Tüm Şablonlar</div>
                  <i class="zmdi zmdi-upload"></i>
                  <div class="value">{{templateInfo.allTemplateNumber}}</div>
                  <div class="stat"><b>100</b>% Tüm Şablonlara Oranı</div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                <div class="card green">
                  <div class="title">Makbuz Şablonları</div>
                  <i class="zmdi zmdi-upload"></i>
                  <div class="value">{{templateInfo.allReceiptNumber}}</div>
                  <div class="stat"><b>{{templateAllRate(templateInfo.allReceiptNumber)}}</b>% Tüm Şablonlara Oranı</div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                <div class="card orange">
                  <div class="title">Fatura Şablonları</div>
                  <i class="zmdi zmdi-download"></i>
                  <div class="value">{{templateInfo.allInvoiceNumber}}</div>
                  <div class="stat"><b>{{templateAllRate(templateInfo.allInvoiceNumber)}}</b>% Tüm Şablonlara Oranı</div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                <div class="card red">
                  <div class="title">Süresi Dolmuş Şablonlar</div>
                  <i class="zmdi zmdi-download"></i>
                  <div class="value">{{templateInfo.allExpiredTemplateNumber}}</div>
                  <div class="stat"><b>{{templateAllRate(templateInfo.allExpiredTemplateNumber)}}</b>% Tüm Şablonlara Oranı</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="file">
          <h2 class="header">Şablon Yükleme Ekranı</h2>
          <div class="upload-guide">
            <button type="button" class="btn guide-button" data-toggle="modal" data-target="#exampleModal2">
              <i class="bi bi-journal-bookmark-fill"></i>
            </button>
            <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
              <div class="modal-dialog" role="document" style="max-width: 700px !important;">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">Dosya Kılavuzu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">

                    <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel" data-interval="false">
                      <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators2" data-slide-to="2"></li>
                      </ol>
                      <div class="carousel-inner">
                        <div class="carousel-item carousel-guide active">
                          <img class="d-block" src="../../../../assets/invoice.JPG" alt="First slide">
                          <div class="carousel-caption d-none d-md-block">
                            <h5>Invoice HTML Dosyası Nasıl Oluşturulur</h5>
                            <p>Yukarı gördüğünüz değişkenleri HTML Dosyanız içerisinde bulundurmanız gerekiyor. Aksi bir durumda Program Kontrol aşamasında
                            hata verecektir.</p>
                          </div>
                        </div>
                        <div class="carousel-item carousel-guide">
                          <img class="d-block" src="../../../../assets/receipt.JPG" alt="Second slide">
                          <div class="carousel-caption d-none d-md-block">
                            <h5>Receipt HTML Dosyası Nasıl Oluşturulur</h5>
                            <p>Yukarı gördüğünüz değişkenleri HTML Dosyanız içerisinde bulundurmanız gerekiyor. Aksi bir durumda Program Kontrol aşamasında
                              hata verecektir.</p>
                          </div>
                        </div>
                        <div class="carousel-item carousel-guide">
                          <img class="d-block" src="../../../../assets/id.JPG" alt="Third slide">
                          <div class="carousel-caption d-none d-md-block">
                            <h5>Örnek HTML Dosyası</h5>
                            <p>Bu örnekte görmüş olduğunuz gibi parametreleri kullanmak istediğiniz alanlarda ID olarak belirtmeniz yeterlidir.</p>
                          </div>
                        </div>
                      </div>
                      <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="content-file d-flex flex-column justify-content-center align-items-center">
            <div class="row">
              <div class="container-upload">
                <div class="card-upload">
                  <h3>HTML Dosyası Yükle</h3>
                  <div class="drop_box-upload" id="html_dropbox">
                    <header>
                      <h4>Dosya Seçiniz</h4>
                    </header>
                    <p>Desteklenen Dosyalar : HTML</p>
                    <input type="file" hidden accept=".html" id="htmlFileID" style="display: none;">
                    <button class="btn-upload" (click)="onClickfileHtml()">Dosya Seç</button>
                  </div>

                </div>
              </div>
              <div class="container-upload">
                <div class="card-upload">
                  <h3>CSS Dosyası Yükle</h3>
                  <div class="drop_box-upload" id="css_dropbox">
                    <header>
                      <h4>Dosya Seçiniz</h4>
                    </header>
                    <p>Desteklenen Dosyalar : CSS</p>
                    <input type="file" hidden accept=".css" id="cssFileId" style="display: none;">
                    <button class="btn-upload" (click)="onClickfileCss()">Dosya Seç</button>
                  </div>

                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="container-upload">
                <div class="card-upload2 d-flex flex-column justify-content-center">
                  <div class="d-flex justify-content-between mb-3 pl-2 pr-2 align-items-center">
                    <p class="card-filetype">Dosya Tipi:</p>
                    <select id="fileType" name="fileType" class="file-select">
                      <option value="invoice">Invoice</option>
                      <option value="receipt">Receipt</option>
                    </select>
                  </div>
                  <div class="d-flex justify-content-between mt-3 pl-2 pr-2 align-items-center">
                    <p class="card-filetype d-flex">Şablon İsmi:</p>
                    <input type="text" id="templateName" name="templateName" class="template-text"/>
                  </div>
                </div>
              </div>
              <div class="container-upload">
                <div class="card-upload2 d-flex flex-column justify-content-center">
                  <p style="position: absolute;margin:0 0 120px 20px;">(Örnek Model: 08-05-2024 01:00:00) </p>
                  <div class="d-flex justify-content-between mb-3 pl-2 pr-2 align-items-center">
                    <p class="card-filetype">Başlangıç Tarihi:</p>
                    <input type="text" id="startDate" name="startDate" class="date-class"/>
                  </div>
                  <div class="d-flex justify-content-between mt-3 pl-2 pr-2 align-items-center">
                    <p class="card-filetype d-flex float-left">Bitiş Tarihi:</p>
                    <input type="text" id="endDate" name="endDate" class="date-class"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <input type="submit" name="submit" class="submit action-button" value="Kaydet" (click)="onSubmit()"/>
            </div>
          </div>
          <div class="d-flex flex-column justify-content-center align-items-center template-back" *ngIf="!complete">

            <div class="spinner-border text-white" role="status" style="width: 100px;height: 100px">
            </div>
            <div class="loading loading02" style="top: 20px">
              <span>Y</span>
              <span>Ü</span>
              <span>K</span>
              <span>L</span>
              <span>E</span>
              <span>N</span>
              <span>İ</span>
              <span>Y</span>
              <span>O</span>
              <span>R...</span>
            </div>
          </div>
        </div>
        <div id="fileDelete">
          <h2 class="header">Şablon Silme Ekranı</h2>
          <div>
            <table class="delete-table">
              <thead>
              <tr>
                <td>Id</td>
                <td>Şablon Adı</td>
                <td>Şablon Kodu</td>
                <td>Şablon Tipi</td>
                <td>Başlangıç Tarihi</td>
                <td>Bitiş Tarihi</td>
                <td>Aktif</td>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let template of templateTable[0]">
                <td>{{template.id}}</td>
                <td>{{template.templateName}}</td>
                <td>{{template.templateShortId}}</td>
                <td>{{template.templateType}}</td>
                <td>{{template.effectiveStartDate}}</td>
                <td>{{template.effectiveEndDate}}</td>
                <td>{{template.isActive}}</td>
              </tr>
              </tbody>
            </table>
            <div class="mt-3 d-flex justify-content-center mr-1 align-items-center">
            <span>Id : <input type="text" id="templateId" placeholder="Template Id" /></span>
              <input type="submit" name="submit" class="delete action-button" value="Sil" (click)="onDelete()"/>
            </div>
          </div>
        </div>
        <div id="fileUpload">
          <h2 class="header">Şablon Güncelleme Ekranı</h2>
          <div>
            <table class="delete-table update-table">
              <thead>
              <tr>
                <td>Id</td>
                <td>Şablon Adı</td>
                <td>Şablon Kodu</td>
                <td>Şablon Tipi</td>
                <td>Başlangıç Tarihi</td>
                <td>Bitiş Tarihi</td>
                <td>Aktiflik Durumu</td>
                <td>Güncelle</td>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let template of templateTable[0]">
                <td>{{template.id}}</td>
                <td>{{template.templateName}}</td>
                <td>{{template.templateShortId}}</td>
                <td>{{template.templateType}}</td>
                <td>{{template.effectiveStartDate}}</td>
                <td>{{template.effectiveEndDate}}</td>
                <td>{{template.isActive ? "Aktif" : "Pasif"}}</td>
                <td><input type="submit" name="submit" class="update action-button" data-toggle="modal" data-target="#exampleModal" value="Güncelle" (click)="onUpdateInput(template)"/></td>
              </tr>
              </tbody>
            </table>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="color: gray">Şablon Güncelle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div>
                      <label style="display: block;font-weight: 500;font-size: 13px;color: gray">Id  </label>
                      <input type="text" readonly value="{{updateTemplate.id}}" class="modal-body-input" />
                    </div>
                    <div>
                      <label style="display: block;font-weight: 500;font-size: 13px;color: gray">Şablon Adı  </label>
                      <input type="text" value="{{updateTemplate.templateName}}" class="modal-body-input" />
                    </div>
                    <div>
                      <label style="display: block;font-weight: 500;font-size: 13px;color: gray">Başlangıç Tarihi (Örnek Model: 08-05-2024 15:00:00)  </label>
                      <input type="text" value="{{updateTemplate.effectiveStartDate}}" class="modal-body-input" />
                    </div>
                    <div>
                      <label style="display: block;font-weight: 500;font-size: 13px;color: gray">Bitiş Tarihi (Örnek Model: 08-06-2025 12:00:00)  </label>
                      <input type="text" value="{{updateTemplate.effectiveEndDate}}" class="modal-body-input" />
                    </div>
                    <div>
                      <label style="display: block;font-weight: 500;font-size: 13px;color: gray">Aktiflik Durumu (true veya false)  </label>
                      <input type="text" value="{{updateTemplate.isActive}}" class="modal-body-input" />
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    <button type="button" class="btn btn-primary" (click)="onUpdateSubmit()">Değişiklikleri Kaydet</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
