<div class="d-flex justify-content-center">
<form id="multistepsform">
  <!-- progressbar -->
  <ul id="progressbar">
    <li class="active">Printing Type</li>
    <li>Printing Model</li>
    <li>Printing Features</li>
    <li>Printing Form</li>
    <li>Completed</li>
  </ul>
  <!-- fieldsets -->
  <fieldset>
    <div style="height: 10%">
      <h2 class="fs-title">Choose edition type</h2>
    </div>
    <div style="height: 70%;display: flex;justify-content: center;align-items: center">
      <label><input type="radio" name="print-type" value="receipt" checked (change)="onChangeType($event)">Receipt</label>
      <label><input type="radio" name="print-type" value="invoice" (change)="onChangeType($event)">Invoice</label>
    </div>
    <div class="d-flex justify-content-center w-100 align-items-end" style="height: 20%">
        <input type="button" name="next" class="next action-button" value="Next" (click)="onNextType(0)"/>
    </div>
  </fieldset>
  <fieldset style="height: 700px">
    <div style="height: 10%">
      <h2 class="fs-title">Select Printing Model</h2>
    </div>

    <div style="height: 70%">
      <div class="carousel slide h-100" data-ride="carousel" id="carouselExampleControls" *ngIf="printModel">
        <div class="carousel-inner h-100">
          <div class="carousel-item h-100" *ngFor="let image of imageResponses;index as i" [ngClass]="i === 0 ? 'active' : ''">
            <img [src]="'data:image/jpg;base64,'+image.imageByte" class="d-block w-100 slider-print" height="98%" alt="First slide">
            <div class="overlay-slider" (click)="onClickSlider(image.templateName)">
              <p>Choose this</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="spinner-border text-secondary" role="status" *ngIf="!printModel">
      </div>
    </div>


    <div class="d-flex justify-content-center w-100 align-items-end" style="height: 20%">
      <input type="button" name="previous" class="previous action-button" value="Previous" (click)="onPrevious(1)"/>
      <input type="button" name="next" class="next action-button" value="Next" (click)="onNext(1)"/>
    </div>
  </fieldset>
  <fieldset>
    <div style="height: 10%">
      <h2 class="fs-title">Select Printing Features</h2>
    </div>
    <div style="height: 70%">
      <div class="receipt d-flex flex-wrap justify-content-around" *ngIf="printType === 'receipt'">
        <label><input type="radio" name="features" value="KURUM TAHSILATI" checked (change)="onChangeFeature($event)">Institution collection</label>
        <label><input type="radio" name="features" value="IBAN'A TRANSFER" (change)="onChangeFeature($event)">Transfer to Iban number</label>
        <label><input type="radio" name="features" value="HESAPTAN HESABA HAVALE" (change)="onChangeFeature($event)">Account to Account Transfer</label>
        <label><input type="radio" name="features" value="HESAPTAN FAST" (change)="onChangeFeature($event)">Fast From Account</label>
      </div>
      <div class="invoice" *ngIf="printType === 'invoice'">
        <label><input type="radio" name="features" value="receipt" checked (change)="onChangeFeature($event)">Invoice</label>
      </div>
    </div>
    <div class="d-flex justify-content-center w-100 align-items-end" style="height: 20%">
      <input type="button" name="previous" class="previous action-button" value="Previous" (click)="onPrevious(2)"/>
      <input type="button" name="next" class="next action-button" value="Next" (click)="onNext(2)"/>
    </div>
  </fieldset>
  <fieldset style="height: 700px">
    <div style="height: 10%">
      <h2 class="fs-title">Printing Form</h2>
    </div>
    <div style="height: 70%">
      <div *ngIf="printType === 'receipt'" class="form-receipt">
        <div class="d-flex flex-column w-50">
          <span>Başlık: <span class="float-right mr-4">{{printingFormArea[printFANum].writingAreaTitle}}</span></span>
          <span>İsim: <input type="text" placeholder="İsim" id="name" value=" "/></span>
          <span>Soyisim: <input type="text" name="surname" placeholder="Soyisim" id="surname" value=" "/></span>
          <span>Yaşadığınız Şehir: <input type="text" name="addressCity" placeholder="Şehir" id="addressCity" value=""/></span>
          <span>İlçe: <input type="text" name="addressCounty" placeholder="İlçe" id="addressCounty" value=" "/></span>
          <span>Cadde: <input type="text" name="addressStreet" placeholder="Cadde" id="addressStreet" value=" "/></span>
          <span>Sokak / D / No: <input type="text" name="address" placeholder="Açık Adres" id="address" value=" "/></span>
          <span>IBAN: <input type="text" name="ibanNumber" placeholder="IBAN" id="ibanNumber" value="0"/></span>
          <span>Şube Adı: <input type="text" name="branchName" placeholder="Şube Adı" id="branchName" value=" "/></span>
          <span>Hesap No: <input type="text" name="accountNumber" placeholder="Hesap Numarası" id="accountNumber" value="0"/></span>
        </div>
        <div class="d-flex flex-column w-50 ml-3">
          <span>{{printingFormArea[printFANum].writingArea1}}<input type="text" name="writingArea1" id="writingArea1" value=" "/></span>
          <span>{{printingFormArea[printFANum].writingArea2}}<input type="text" name="writingArea2" id="writingArea2" value=" "/></span>
          <span>{{printingFormArea[printFANum].writingArea3}}<input type="text" name="writingArea3" id="writingArea3" value=" "/></span>
          <span>{{printingFormArea[printFANum].writingArea4}}<input type="text" name="writingArea4" id="writingArea4" value=" "/></span>
          <span [ngClass]="printingFormArea[printFANum].writingArea5 == '' ? 'd-none' : ''">{{printingFormArea[printFANum].writingArea5}}<input type="text" name="writingArea5" id="writingArea5" value=" "/></span>
          <span [ngClass]="printingFormArea[printFANum].writingArea6 == '' ? 'd-none' : ''">{{printingFormArea[printFANum].writingArea6}}<input type="text" name="writingArea6" id="writingArea6" value=" "/></span>
          <span [ngClass]="printingFormArea[printFANum].writingArea7 == '' ? 'd-none' : ''">{{printingFormArea[printFANum].writingArea7}}<input type="text" name="writingArea7"  id="writingArea7" value=" "/></span>
          <span [ngClass]="printingFormArea[printFANum].writingArea8 == '' ? 'd-none' : ''">{{printingFormArea[printFANum].writingArea8}}<input type="text" name="writingArea8"  id="writingArea8" value=" "/></span>
          <span [ngClass]="printingFormArea[printFANum].writingArea9 == '' ? 'd-none' : ''">{{printingFormArea[printFANum].writingArea9}}<input type="text" name="writingArea9"  id="writingArea9" value=" "/></span>
          <span>Toplam Tutar: <input type="text" name="paymentTotal" placeholder="Hesap Numarası" id="paymentTotal" value="0"/></span>
        </div>
      </div>
      <div *ngIf="printType === 'invoice'">
        <div class="d-flex flex-column w-50">
          <span>Şirket Adı: <input type="text" name="dealerCompanyName" placeholder="Şehir" /></span>
          <span>Şirketin Bağlı Olduğu Şehir: <input type="text" name="dealerAddressCity" placeholder="Şehir" /></span>
          <span>Şirketin Bağlı Olduğu İlçe: <input type="text" name="dealerAddressCounty" placeholder="İlçe" /></span>
          <span>Cadde / Sokak / No: <input type="text" name="dealerAddress" placeholder="Açık Adres" /></span>
          <span>Şirket Telefon: <input type="text" name="dealerPhoneNumber" placeholder="IBAN" /></span>
          <span>Şirket Mail: <input type="text" name="dealerMailAddress" placeholder="Şube Adı" /></span>
          <span>Şirket VKN: <input type="text" name="dealerVKN" placeholder="Hesap Numarası" /></span>
          <span>Şirket Ticaret No: <input type="text" name="dealerTradeNumber" placeholder="Hesap Numarası" /></span>
        </div>
        <div class="d-flex flex-column w-50">
          <span>Müşteri Adı: <input type="text" name="customerName" placeholder="Şehir" /></span>
          <span>Müşteri Soyadı: <input type="text" name="customerSurname" placeholder="Şehir" /></span>
          <span>Müşterinin Bağlı Olduğu Şehir: <input type="text" name="customerAddressCity" placeholder="Şehir" /></span>
          <span>Müşterinin Bağlı Olduğu İlçe: <input type="text" name="customerAddressCounty" placeholder="İlçe" /></span>
          <span>Cadde / Sokak / No: <input type="text" name="customerAddress" placeholder="Açık Adres" /></span>
          <span>Şirket Telefon: <input type="text" name="customerPhoneNumber" placeholder="IBAN" /></span>
          <span>Şirket Mail: <input type="text" name="customerMailAddress" placeholder="Şube Adı" /></span>
          <span>Şirket TCKN: <input type="text" name="customerTCKN" placeholder="Hesap Numarası" /></span>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center w-100 align-items-end" style="height: 20%">
      <input type="button" name="previous" class="previous action-button" value="Previous" (click)="onPrevious(3)"/>
      <input type="button" name="next" class="next action-button" value="Next" (click)="onSubmit(3)"/>
    </div>
  </fieldset>
  <fieldset>
    <div style="height: 10%">
      <h2 class="fs-title">Completed</h2>
    </div>
    <div style="height: 70%">

    </div>
    <div class="d-flex justify-content-center w-100 align-items-end" style="height: 20%">
      <input type="button" name="previous" class="previous action-button" value="Previous" (click)="onPrevious(4)"/>
      <input type="submit" name="submit" class="submit action-button" value="Submit" />
    </div>
  </fieldset>
</form>
</div>
